body{
    background-color: #020202;
    color: #ccc;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    text-align: center;
}

.left{
    float: left;
}

.right{
    float: right;

}

div{
    width: 840px;
    margin: 0 auto;
}

#headingDiv {
    margin-top: 20px;
}

#controlDiv{
    text-align: center;
}

#wikipediaDiv {
    margin-top: 40px;
    text-align: right;
    color: #404040;
}

canvas{
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ddd;

}

.textInput {
    height: 100%;
    width: 60px;
}

a {
    color: inherit;
}

input{
    margin: 0;
    border: 0;
    font-family: inherit;
    font-size: 16px;
    background-color: #303038;
    color: #ccc;
}

input [type=button]{
    height: 30px;
}

select {
    margin: 0;
    margin-left: 10px;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    background-color: #303038;
    color: #ccc;
    height: 30px;
    width: 150px;
}

#nextButton{
    width: 110px;
    margin-right: 10px;
}

#startButton {
    width: 70px;
    margin-right: 10px;
}

#fasterButton {
    width: 70px;
    margin-right: -3px;
}

#slowerButton {
    width: 80px;
    margin-right: 10px;
}

#clearButton {
    width: 70px;
    margin-right: 10px;
}

#randomButton {
    width: 90px;
}
